.container{    
    background-color: var(--background-color);        
}
.dashboard{
display: inline;
}
.username{
color: var(--username-color);
}
.value{
color: var(--value-color);
}
.changeUp{
color: var(--changeUp-color);
position: relative;
top: -10px;
}
.changeDown{
color: var(--changeDown-color);
position: relative;
top: -20px;
}
.text{
color: var(--text-color);
}
.text2{
color: #838CB0;
position: relative;
 top: -28px;
 margin-bottom: -22px;
}
.card-top {
width: 320px;
/* border-top: 8px red solid; */
border-radius: 6px;
text-align: center;
color:  var(--text-color);
background-color: var(--border-color);
display: inline-block;    
margin: 16px 0 0 32px;    
}
.top-blue{
display: inline-block;    
width: 320px;
border-top: 8px #208CEA solid;
border-radius: 6px;
margin-bottom: 10px;
}
.top-red{
display: inline-block;    
width: 320px;
border-top: 8px #B5092D solid;
border-radius: 6px;
margin-bottom: 10px;
}
.top-gradient{
display: inline-block;    
width: 320px;
border-top: 8px solid;
border-image: linear-gradient(to right, yellow,#f4369b) 3 5 0 0;
border-radius: 6px;
margin-bottom: 10px;
}
.card-top .topo {
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
}
.card-top:hover {
background: #dadce9;
cursor: pointer;
}
.rodape-top h4 {
font-size: 5em;
margin-top: -0.1em;
}

.rodape-top h5 {
font-size: 2em;
margin-top: -3.5em;
text-transform: uppercase;
color: #C6C8D4;
}

.rodape-top h6 {
font-size: 1em;
margin-top: -.7em;
margin-bottom: 0.4em;
}

@media (max-width: 700px) {
.card-top {
    margin: 1em 0;
} 
.dashboard{
    margin: 30px;
}  
}